<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MetaCart</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>org.mz.servlet.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>org.mz.servlet.AdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addCategory</servlet-name>
    <servlet-class>org.mz.servlet.AddCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCategory</servlet-name>
    <url-pattern>/addCategory.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addProduct</servlet-name>
    <servlet-class>org.mz.servlet.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addProduct</servlet-name>
    <url-pattern>/addProduct.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addImage</servlet-name>
    <servlet-class>org.mz.servlet.AddImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addImage</servlet-name>
    <url-pattern>/addImage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editCategory</servlet-name>
    <servlet-class>org.mz.servlet.EditCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editCategory</servlet-name>
    <url-pattern>/editCategory.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editProduct</servlet-name>
    <servlet-class>org.mz.servlet.EditProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editProduct</servlet-name>
    <url-pattern>/editProduct.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editImage</servlet-name>
    <servlet-class>org.mz.servlet.EditImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editImage</servlet-name>
    <url-pattern>/editImage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateCategory</servlet-name>
    <servlet-class>org.mz.servlet.UpdateCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateCategory</servlet-name>
    <url-pattern>/updateCategory.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateProduct</servlet-name>
    <servlet-class>org.mz.servlet.UpdateProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateProduct</servlet-name>
    <url-pattern>/updateProduct.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateImage</servlet-name>
    <servlet-class>org.mz.servlet.UpdateImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateImage</servlet-name>
    <url-pattern>/updateImage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteCategory</servlet-name>
    <servlet-class>org.mz.servlet.DeleteCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCategory</servlet-name>
    <url-pattern>/deleteCategory.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteProduct</servlet-name>
    <servlet-class>org.mz.servlet.DeleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteProduct</servlet-name>
    <url-pattern>/deleteProduct.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteImage</servlet-name>
    <servlet-class>org.mz.servlet.DeleteImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteImage</servlet-name>
    <url-pattern>/deleteImage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchCategory</servlet-name>
    <servlet-class>org.mz.servlet.SearchCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchCategory</servlet-name>
    <url-pattern>/searchCategory.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchProduct</servlet-name>
    <servlet-class>org.mz.servlet.SearchProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchProduct</servlet-name>
    <url-pattern>/searchProduct.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchImage</servlet-name>
    <servlet-class>org.mz.servlet.SearchImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchImage</servlet-name>
    <url-pattern>/searchImage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewCategory</servlet-name>
    <servlet-class>org.mz.servlet.ViewCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewCategory</servlet-name>
    <url-pattern>/viewCategory.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewProduct</servlet-name>
    <servlet-class>org.mz.servlet.ViewProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewProduct</servlet-name>
    <url-pattern>/viewProduct.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>viewImage</servlet-name>
    <servlet-class>org.mz.servlet.ViewImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewImage</servlet-name>
    <url-pattern>/viewImage.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>categories</servlet-name>
    <servlet-class>org.mz.servlet.GetCategories</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>categories</servlet-name>
    <url-pattern>/categories.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>products</servlet-name>
    <servlet-class>org.mz.servlet.GetProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>products</servlet-name>
    <url-pattern>/products.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getProduct</servlet-name>
    <servlet-class>org.mz.servlet.GetProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getProduct</servlet-name>
    <url-pattern>/getProduct.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addToCart</servlet-name>
    <servlet-class>org.mz.servlet.AddToCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addToCart</servlet-name>
    <url-pattern>/cart.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>buy</servlet-name>
    <servlet-class>org.mz.servlet.BuyProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>buy</servlet-name>
    <url-pattern>/buyProduct.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>remove</servlet-name>
    <servlet-class>org.mz.servlet.RemoveProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>remove</servlet-name>
    <url-pattern>/removeProduct.do</url-pattern>
  </servlet-mapping>
</web-app>